#navbar{
width: 80vw;

height: 70px;
margin: auto;
display: flex;
justify-content: space-around;
align-items: center;
}

#logo{
    height: 40px;
}

.blue-button{
    color: #004B8C;
    background-color: #E6F3FF;
    height: 40px;
    width: 120px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
}
.nav-items{
    color: #757575;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#start-learning{
    background-color: #004B8C;
    color: #E6F3FF;
    height: 40px;
    width: 120px;
    font-weight: bold;
    border: none;
    border-radius: 30px;

}

#hero{
    width: 80vw;
    height: 80vh;
  
    margin: auto;
    display: flex;
   
    justify-content: space-between;
}

#hero1{
    height: 80vh;
    width: 51vw;
    background-color: #0089ff;
    border-radius: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}
#hero2{
    height: 80vh;
    width: 27vw;
   
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero2div{
    height: 39vh;
    width: 27vw;
   
    
  
    border-radius: 40px;
    background-color: #e6f2ef;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-one-details{
    height:65vh ;
    width: 25vw;
    
}
#hero-one-image{
    height:56vh ;
    width: 20vw;
 
    background-image: url(https://cloudfront.entri.app/static/north_south/img/landing_2022/new_layout/app-home-screen.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#heroh1{
    font-size: 50px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif
}





@media screen and (max-width:600px) {

    .nav-items{
        visibility: hidden;
    }
    .bb{
        display: none;
    }

    #start-learning{
        display: none;
    }

    #navbar{
        gap:50px;
        width: 100vw;
    }

    .h2d{
        display: none;
       
    }
    #hero{
        flex-direction: column-reverse;
        margin: auto;
      
       height: 90vh;
        gap: 40px;
       
    }
    #hero1{
        width: 95vw;
        height: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
       
       
    }
    #heroh1{
        font-size: 14px;
    }
    #hero-one-details{
        width: 90%;
        height: 90%;
        background-color: pink;
    }
    #hero-one-image{
        display: none;
    }
    #hero2{
        width: 95vw;
        height: 35%;
        
       
    }
    .hero2div{
        width: 90vw;
    
       
    }
}